# Sbt
target/
.history

# Idea IDE related
.idea/
.idea_modules/
*.iml

# metals
.metals/
.bloop/

# Mac OSX
.DS_Store

# Project specific
test.log

# website
node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
!website/i18n/en.json
